.header-fixed {
    width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 20%;
    float: left;
}

.gantt-container{
    white-space:nowrap;
    min-height: 10em;
    width: 100%;
    overflow-x: scroll;
}

.gantt-inner{
    display: inline-block;
    
}
.gantt-process{
    text-align: center;
}

.gantt-name,.gantt-burst{
    display: inline;
}
.gantt-start{
    float: left;
    padding: 5px;
}

.gantt-end{
    float: right;
    padding: 5px;
}

.gantt-bar{
    height:2em;
    background-color: red;
}